<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>AMFIPass.kext</string>
				<key>Comment</key>
				<string>Realtek Wi-Fi experiment - AMFIPass</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AMFIPass</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>23.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>IOSkywalkFamily.kext</string>
				<key>Comment</key>
				<string>Realtek Wi-Fi experiment - IOSkywalkFamily</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IOSkywalkFamily</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>23.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>IO80211FamilyLegacy.kext</string>
				<key>Comment</key>
				<string>Realtek Wi-Fi experiment - IO80211FamilyLegacy</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IO80211FamilyLegacy</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>23.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>RTL88WiFi.kext</string>
				<key>Comment</key>
				<string>Realtek Wi-Fi experiment - RTL88WiFi</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/RTL88WiFi</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>23.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Block</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>Comment</key>
				<string>Allow legacy Wi-Fi / block native Skywalk</string>
				<key>Enabled</key>
				<true/>
				<key>Identifier</key>
				<string>com.apple.iokit.IOSkywalkFamily</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>23.0.0</string>
				<key>Strategy</key>
				<string>Exclude</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
